body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-size: 2em;
  text-align: center;
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #eee 1px, transparent 1px), linear-gradient(to bottom, #eee 1px, transparent 1px);

}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 20px;
  max-width: 640px;
  margin: 0 auto;
}

.counter {
  background: #eee;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 10px -5px rgba(0,0,0,.85);
}
.counter:nth-child(1) {
  background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 95%,rgba(128,0,0,1) 100%);
}
.counter:nth-child(2) {
  background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 95%,rgba(0,128,0,1) 100%);
}
.counter:nth-child(3) {
  background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 95%,rgba(0,0,128,1) 100%);
}

.counter .count {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3em;
}

.counter .instructions {
  margin: 2em;
  color: #999;
  font-size: .8em;
}

.counter .buttons button {
  font-size: 1em;
  margin: 0 5px;
  background: #666;
  color: #fff;
  padding: 5px 10px;
}